node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# lock
package-lock.json
yarn.lock

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
